* {
  margin: 0;
  padding: 0;
}

header {
  background-color: rgb(23, 152, 238);
  text-align: left;
  border-bottom-style: dotted;
  grid-area: header;
}

main {
  background-image: url("../img/mountain.jpg");
  background-size: cover;
  background-position: center;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  min-height: calc(100vh - 54px);
  grid-area: main;
}

nav {
  background-color: lightsalmon;
  grid-area: nav;
}

nav ul {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  list-style-type: none;
}

aside {
  background-color: lightsalmon;
  font-weight: bold;
  color: blueviolet;
  grid-area: aside;
}

.banner {
  display: flex;
  flex-flow: column wrap;
}

.banner {
  width: 250px;
  height: 300px;
  margin: auto;
  background-color: rgb(23, 152, 238);
  border-radius: 5%;
  padding: 5px;
  text-align: center;
}
.banner p {
  height: 20px;
  font: 400 16px/20px "Arial";
  text-align: center;
  color: #e7e2e2;
}

footer {
  background-color: rgb(25, 107, 32);
  text-align: center;
  grid-area: footer;
}

.container {
  display: grid;
  grid-template-areas:
    "header"
    "nav"
    "main"
    "aside"
    "banner"
    "footer";
}

@media (min-width: 500px) {
  .container {
    grid-template-columns: 1fr 3fr;
    grid-template-areas:
      "header  header"
      "nav     nav"
      "main   aside"
      "banner  footer";
  }
}

@media (min-width: 700px) {
  .container {
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-areas:
      "header header  header"
      "nav    main    aside"
      "nav    main    banner"
      "footer footer  footer";
  }
}
