main {
  width: 60px;
  margin: auto;
}

div {
  width: 50px;
  height: 50px;
  border: 3px solid black;
  margin-bottom: 20px;
  position: relative;
}

#container div:nth-child(odd) {
  background-color: rgb(13, 76, 170);
  transition: height 4s, width 4s, transform 4s;
}

#container:hover > div:nth-child(odd) {
  width: 100px;
  height: 100px;
  transform: translateX(100px) rotate(180deg);
}

#container div:nth-child(even) {
  background-color: blueviolet;
  transition: height 2s, width 2s, transform 2s;
}

#container:hover > div:nth-child(even) {
  width: 25px;
  height: 25px;
  transform: translateX(-100px) rotate(-180deg);
}
