header {
  text-align: center;
  margin: 0 auto;
  padding: 50px;
  width: 960px;
}

a:hover {
  text-decoration: none;
  color: #0ba39c;
}

a {
  display: inline-block;
  padding: 0px 20px;
  color: black;
  font-family: "Rubik", sans-serif;
  font-size: 15px;
  text-decoration-style: none;
  font-weight: bold;
}
button {
  background: #0ba39c;
  color: white;
  display: inline-block;
  font-size: 15px;
  margin: 15px 0 0;
  padding: 25px 25px 20px;
  text-align: center;
}

.main {
  margin: 0;
  padding: 0 0 30px;
  text-align: left;
}

.beaconfont {
  position: absolute;
  top: 80px;
  right: 250px;
  line-height: 1.5;
}
.beaconfont div {
  background: black;
  color: white;
  margin: 7px 0;
  padding: 12px 27px;
}
.beacon {
  position: relative;
}
h2 {
  background: white;
  font-family: "Rubik", sans-serif;
  font-size: 25px;
  margin: 0 0 18 px;
  padding: 20px 25px 23px;
}

.hair-styles {
  display: inline-block;
  list-style: none;
  padding-inline-start: 40px;
  text-align: center;
  margin: 0;
  padding: 10px;
  font-weight: bold;
}
.styleimg {
  display: flex;
  justify-content: center;
}
.styleimg ul {
  padding: 0;
}

.footer {
  background: rgb(46, 43, 43);
  padding: 36px 0px 42px;
  margin: 0;
}

.footer div p {
  color: white;
  font-size: 16px;
  font-family: "Rubik", sans-serif;
  text-align: center;
  float: left;
  line-height: 5px;
  margin: 0 0 0 10px;
  padding: 0;
}

.footer div ul li {
  display: block;
  float: right;
  margin: 0;
  padding: 0;
  width: 60px;
}

@media (min-width: 576px) {
  body {
    min-width: 0;
  }
}
